
.font-color-1{
    color: #ffffff;
}
.font-color-1-1{
    color: #FFDAD1;
}
.font-color-2{
    color: #000000
}

.font-color-3{
    color: #EB5F34
} 
.font-color-4{
    color: #606161
}
.font-color-5{
    color: #7A7A7A;
}
.font-color-6{
    color: #FE0B0B;
    
}


.font-size-1{
    font-size: 0.19rem
}

.font-size-2{
    font-size: 0.25rem
}
.font-size-3{
    font-size: 0.3rem
}
.font-size-35{
    font-size: 0.35rem
}

.font-size-4{
    font-size: 0.4rem
}

.font-strong{
    font-weight:600
}

.title-font-size{
    font-size: 0.37rem;
    font-weight:100
}




